*{
    margin: 0; /*começo com esse para não vir o defalt do navegador*/
    padding: 0; /*começo com esse para não vir o defalt do navegador*/
    box-sizing: border-box; /*começo com esse para não vir o defalt do navegador*/
}

:root { /*oq eu colocar aq vai no projeto todo e eu peguei no figma essas especificações*/
    --brand-color: #EF5F4C; /*nome (brand-color) para cor*/
    --shape-transparency: rgba(255, 255, 255, 0.56); /*esse ultimo numero é a opacidade*/
    --skeleton-color: #D9D9D9;
    --surface-color: #F5F5F5;
    --background-color: #FFFFFF;
    --text-color-secondary: #6C6C6C;
    --text-color-primary: #313131;

    --font-family: "Poppins", sans-serif; /*variavel para familia de fonte*/
    --text-lg: bold 32px/125% var(--font-family); /*criando variavel pra textos largos essas especificações estão no figma     Weight size/Line Height familia*/
    --text-md: 14px/170% var(--font-family);/*medio*/
    --text-sm: 12px/170% var(--font-family);/*small*/
    --text: 16px/150% var(--font-family);
}

body{
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
}

a{
    text-decoration: none; /*tirando o underline de link*/
    color: inherit; /*essa propiedade indica que a cor vai ser herdada, logo vai tirar aqule azul de links e vai herdar a cor do pai que em algum momento vai ser o body*/
}

a:hover{ /*quando passo o mouse no a*/
    color: var(--brand-color);
    text-decoration: underline; /*colocando underline quando passar o mouse*/
}

.container{ /*classe */
    padding-inline: 32px;/*espaçamento externo na esquerda e na direita*/
    max-width: 1280px; /*se diminuir o tamanho das coisas esse é o maximo q as coisas vao diminuir*/
    margin-inline: auto; /*para ficar no centro*/
}

.bg-suface-color {
    background-color: var(--surface-color);
}